* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	background-color:#DCD0C0;
}

#root {
	width: 100%;
	height: 100%;
}

#body-container {
	width: 100%;
	height: 100%;
}

.main-nav {
	width: 100%;
	height: 50px;
	background-color: #C0B283;
	opacity: 0.9;
}

.nav-items {
	display: flex;
}

.nav-item {
	font-size: 20px;
	margin-top: 11px;
	margin-left: 44px;
	list-style: none;
}

.nav-link {
	position: relative;
	text-decoration: none;    
	color: black;
	padding-bottom: 5px;
}

.nav-link:hover {
	color: black;
}

.active {
	border-bottom: 1px solid black;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*.chord-id-container {
	width: 100%;
	height: -moz-calc(100% - (50px));
    height: -webkit-calc(100% - (50px));
    height: calc(100% - (50px));
}*/

/*.ear-training-container {
	width: 100%;
	height: calc(100%-50px);
}*/


#header-container {
	height: 80px;
	width: 500px;
	margin: 0 auto;
}

#header {
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	line-height: 80px;
}

.music-square {
	height: 200px;
	width: 400px;
	background-color: #fdffe5;
	opacity: 0.7;
	margin: 0 auto;
	/*margin-top: 50px;*/
	border-radius: 20px;
}

.next-button-container {
	height: 30px;
	width: 50px;
	margin: 0 auto;
}

#next-button {
	height: 30px;
	width: 50px;
	margin-top: 15px;
/*	margin-left: 440px;*/
	font-size: 16px;
	border-radius: 7px;
	outline: none;
}

#next-button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.answer-area {
	margin: 0 auto;
	height: 175px;
	width: 400px;
	margin-top: 30px;

}

.answers-list {
	list-style: none;
}

.answer-list-item {
	height: 28px;
	border: 1px solid rgba(192,178,131,0.7);;
	border-radius: 5px;
	margin-bottom: 6px;
	/*background-color: rgba(253,255,229,0.6);*/
	background-color: rgba(192,178,131,0.6);
	cursor: pointer;
}

.answer-list-item:hover {
	background-color: rgba(192,178,131,0.2);
}

.answer-list-item span {
	margin-left: 10px;
	position: relative;
	top: 4px;
	/*padding-top: 4px;*/
}

.option-number {
	opacity: 0.6;
}

.incorrect-answer {
	background-color: rgba(255, 51, 51,0.7);
	cursor: default;
}

.incorrect-answer:hover {
	background-color: rgba(255, 51, 51,0.7);
	cursor: default;
}

.correct-answer {
	background-color: #66CC89;
	cursor: default;
}

.correct-answer:hover {
	background-color: #66CC89;
	cursor: default;
}

#audio-container {
	width: 300px;
	height: 32px;
	margin: 0 auto;
	position: relative;
	top: 33%;
}

#play-button {
	height: 60px;
	width: 60px;
	box-sizing: border-box;
	border-style: solid;
	border-width: 35px 0px 35px 56px;
	border-color: #fdffe5 #fdffe5 #fdffe5 rgba(32,32,32,1);
	margin-left: 2px;
	outline: none;
	cursor: pointer;
}

#play-button:hover {
	border-color: #fdffe5 #fdffe5 #fdffe5 rgba(32,32,32,0.8);
}

#play-button:active {
	border-color: #fdffe5 #fdffe5 #fdffe5 rgba(32,32,32,0.9);
}

#play-button-container {
	margin: 0 auto;
	height: 74px;
	width: 66px;
	/*border: 2px solid grey;*/
	border-radius: 2px;
}

/*#play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;

}
*/